* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5efe6;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

/* HEADER */
.header {
    background: #c1121f;
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #fcbf49;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu a:hover {
    color: #fcbf49;
}

/* Nút */
.btn-primary {
    background: #fcbf49;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background: white;
}

/* BANNER */
.banner {
    background: #c1121f;
    color: white;
    padding: 60px 0;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.banner-text {
    flex: 1;
    min-width: 280px;
}

.banner-text h1 {
    font-size: clamp(28px, 4vw, 40px);
    margin-bottom: 15px;
}

.banner-text p {
    margin-bottom: 20px;
}

.btn-white {
    background: white;
    color: #c1121f;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-white:hover {
    background: #fcbf49;
    color: black;
}

.Pretz-img {
    flex: 1;
    text-align: center;
}

.Pretz-img img {
    max-width: 400px;
    width: 100%;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.product-slider {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.product-slider::-webkit-scrollbar {
    display: none;
}

.product-slider .card {
    min-width: 220px;
    flex: 0 0 auto;
}

/* Mũi tên */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #c1121f;
    color: white;
    border: none;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: -20px;
}

.arrow.right {
    right: -20px;
}

.arrow:hover {
    background: #fcbf49;
    color: black;
}

/* FEATURE */
.feature {
    padding: 50px 0;
    background-image: url(./assets/img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.feature-item {
    background: #f5efe6;
    padding: 20px;
    border-radius: 10px;
}

/* PRODUCT */
.product {
    padding: 60px 0;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* NEW PRODUCT */
.new-product {
    padding: 60px 0;
    background: white;
}

/* ORDER */
.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cart-icon {
    background: #c1121f;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* CART */
.cart {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    transition: 0.3s;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}

.cart.active {
    right: 0;
}

.cart input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

/* TABLET */
@media (max-width:992px) {
    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        justify-content: center;
    }

}

/* MOBILE */
@media (max-width:600px) {

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }
    .banner-text h1 {
        font-size: 28px;
    }

    .Pretz-img img {
        max-width: 250px;
}
.cart {
width: 100%;
}
}
/* ĐK mail */
.newsletter{
    background:#c1121f;
    padding:60px 0;
    color:white;
}
.newsletter-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}
.newsletter-text h2{
    font-size:28px;
    margin-bottom:10px;
}
.newsletter-form{
    display:flex;
    background:white;
    border-radius:30px;
    overflow:hidden;
}
.newsletter-form input{
    border:none;
    padding:12px 15px;
    outline:none;
    min-width:220px;
}
.newsletter-form button{
    border:none;
    background:#fcbf49;
    padding:12px 20px;
    cursor:pointer;
    font-weight:bold;
}
.newsletter-form button:hover{
    background:#ffd166;
}
/* SMALL BANNERS */

.sm-banner{
    display:flex;
    gap:25px;
    padding:60px 5%;
    flex-wrap:wrap;
}

.banner-box{
    flex:1;
    min-height:220px;
    background-image:url('./assets/img/banner1.jpg');
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:30px;
    color:white;
    border-radius:12px;
    transition:0.3s;
    position:relative;
    overflow:hidden;
}

/* overlay */
.banner-box::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.4);
}

.banner-box *{
    position:relative;
    z-index:2;
}

.banner-box h4{
    font-size:16px;
    margin-bottom:5px;
}

.banner-box h2{
    font-size:28px;
    margin-bottom:10px;
}

.banner-box span{
    margin-bottom:15px;
}

/* second banner */
.banner-box2{
    background-image:url('./assets/img/banner2.jpg');
}

/* hover effect */
.banner-box:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
/* mobile */
@media(max-width:768px){
    .sm-banner{
        flex-direction:column;
    }
}
/* tt */
.footer{
    background: black;
    color:white;
    padding:40px 0 20px;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
}

.footer-col h3,
.footer-col h4{
    margin-bottom:10px;
}

.footer-col p{
    font-size:14px;
    margin-bottom:5px;
}

.social-icons a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:5px;
}

.social-icons a:hover{
    color:#ff6a00;
}

.footer-bottom{
    text-align:center;
    margin-top:20px;
    font-size:14px;
    border-top:1px solid #444;
    padding-top:10px;
}


#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td {
    padding: 10px 5px;
    text-align: center;
}

#cart table td:nth-child(1) { width: 100px; }
#cart table td:nth-child(2) { width: 150px; }
#cart table td:nth-child(3) { width: 250px; }
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) { width: 150px; }

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td i {
    color: #088178;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3, #subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    border: 1px solid #e2e9e1;
}

#subtotal {
    width: 45%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
.section-p1 {
    padding: 40px 80px; 
}
@media (max-width: 477px) {
    #cart-add {
        flex-direction: column;
    }
    #coupon, #subtotal {
        width: 100%;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none; 
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none; 
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178; 
}

.product-detail {
    padding: 60px 0;
}